<!DOCTYPE html>
<html>
<head>
  <title>
    Wonderful To Do List
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>To Do List</h1>

  <form method="post" action="/GiveMeList">
    <input type="text" name="AddList">
    <input type="submit" value="Add Todo">
  </form>

  {{#todoList}}
    <p><button>Mark as Complete</button> {{ . }}</p>
  {{/todoList}}

  <h1>Completed To Do</h1>

</body>
</html>
